* {
    padding: 0;
    margin: 0;
};

html {
    height: 100vh;
    width: 100vw;
}

body {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 223, 255);

}

/* top section */

.header {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    background-color: white;
}

h1 {
    padding-left: 3em;
}

/* main section */

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.container {
    padding: 3em 0;
    padding-right: 6em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2em;
}

.card {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: 1px 2px 5px 1px rgba(128, 128, 128, 0.4);
    padding: 1em;
    text-align: center;
}

/* add book form */
form {
    margin: 2em 6em;
    border-radius: 2em;
    padding: 3em;
    background-color: white;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5em;
}

form input {
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: rgb(233, 223, 255);
}